[Unit]
Description=Feh Background Setter
Documentation=man:feh(1)

[Service]
ExecStart=/usr/bin/feh --bg-center --no-fehbg /home/ip/.config/wallpaper

[Install]
WantedBy=wm.target
